{% extends 'blog/base.html'%}

{% block content %}
     <div class="container">
        <br>
        <h1>About</h1>
        <hr>
        <h5>Time wasted can never be regained.</h5><br>
        <p>A few months back, the company I was working for went into a liquidation. I had no job. There was
           least possibility of finding a job. For two weeks, I did nothing but hoped for a miracle job. That wasn't
           going to happen. Early May 2019, I decided to learn new skills. But, I wasn't ready to spend money on any
           training.</p>
        <p>So, I started with free Python lectures on YouTube. It took me around four weeks to come with the grips.
           Soon, I realised that Python alone wasn't enough. I went on to learn Django,Flask, HTML5, CSS3, and
           Bootstrap. I don't claim to be an expert but I am pretty satisfied with my progress.</p>
        <p>This is my first serious effort to build a website. This website has been built while learning Django. <strong><em>The
           core of the website is the straight copy of the course framework created by <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p" target="_blank">Corey Schafer</a></em></strong>.
           But, I have added a number of new features like  new  pages, new custom styling, fixed footer,
           populating the Sidebar, introduction of editor for blogs to allow rich text, and much more.</p>
           <p>The website is protected against Cross Site Request Forgery through the csrf_token tag. Also, I can guarantee
           you that I don't get to see your real passwords. All passwords are protected by a cryptographic hash function
           designed by the United States National Security Agency. A typical  password is stored like this:
           "d9dcx67596gh6ce0xy349c7896x49f09d0b0896b391r3417"</p>
        <p>What can you do here?
           You can express yourself, deliver valuable information and news, make money (if you are lucky), self-promote,
           connect with like minded people, gain knowledge, and much more...</p>
        <h5>If your like blogging, then you have reached the right place. Welcome aboard!</h5>

    </div>
{% endblock content%}