{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
   <div class="container">
        <br>
        <h1>Oksana - A book</h1>
        <hr><br>
    </div>
    <div class="content-section">
      <div class="media">
        <img src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/oksana.jpg">
        <div class="container">
          <h5>Blurb</h5>
          <p><small>"Twenty one year old Jai Grover has it all: good looks, an engineering degree from IIT-Delhi, rich and
              loving parents, and an easy life in a sprawling parental home. But when he decides to take a year off to
              create a dance group and set up an events management company in Mumbai, his life changes forever. He
              manages to pull together a dance group with the help of five rich teenagers and one Oksana Bzovsky, a
              beautiful and skilled dancer from Ukraine. Jai faces a number of challenges to win a business for his
              group. He partly succeeds when opportunities are presented to him by outside help. At the same time, he is
              dealing with his emerging feelings for Oksana. A sudden change of events leaves him with four options to
              decide his fate and future with Oksana. Which one will he choose? Fun-filled, romantic and suspenseful,
              and awash in the vibrancy of modern India, Oksana captures the enchantment of a cross-cultural
              relationship, the power of friendship, Indian values and the challenges emerging India faces."</small></p>
          <h6>Bibliographic information</h6>
          <p><small>
                Title:  	Oksana<br>
                Author:   	Anil Dhar<br>
                Publisher:	Partridge Publishing, 2015<br>
                ISBN:   	148286794X, 9781482867947<br>
                Length: 	392 pages<br>
                Subjects:	Fiction › Thrillers › Suspense</small></p>
          <h5 class="know-h5">Available from the following online retail stores:</h5><br>
          <div class="row marketing">

            <div class="col-lg-4 col-md-2 col-12">
                <h5><a href="https://www.amazon.com/Oksana-Novel-Anil-Dhar-ebook/dp/B0794RK7KW" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/amazon.jpg" height="70" alt=""></a></h5>
                <br>
                <h5><a href="https://books.google.com.au/books/about/Oksana.html?id=1o5BCwAAQBAJ&redir_esc=y" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/google.jpg" height="70" alt=""></a></h5>
            </div>

            <div class="col-lg-4 col-md-2 col-12">
                <h5><a href="https://www.ebay.com.au/p/oksana-by-anil-dhar-paperback-softback-2015/220897767?_trksid=p2047675.l2644" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/ebay.jpg" height="70" alt=""></a></h5>
                <br>
                <h5><a href="https://www.barnesandnoble.com/w/oksana-anil-dhar/1123143613" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/barnes.jpg" height="70" alt=""></a></h5>

            </div>
            <div class="col-lg-4 col-md-2 col-12">
                 <h5><a href="https://www.kobo.com/gr/en/ebook/oksana-3" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/kobo.jpg" height="70" alt=""></a></h5>
                 <br>
                <h5><a href="https://www.dymocks.com.au/book/oksana-by-anil-dhar-9781482867961" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/dymocks.jpg" height="70" alt=""></a></h5>
            </div>
         </div>
        </div>
      </div>
    </div>


{% endblock content%}


