{% extends 'blog/base.html'%}

{% block content %}
   <div class="container">
        <br>
        <h1>Knowledge Centre</h1>
        <hr>
        <h5>Hone your skills without spending a penny. I did it so could you. I bet.</h5><br>

        <p>Youtube is a great entertainment tool and learning tool as well. There is tonnes of material made available
           by experts who work tirelessly to carry out research, record lectures, create channels, and post them online
          for people like me for free.</p>

          <p> As I said, if I could do so could you. All you need is a computer, a browser, and an internet connection.
              That is not a big investment. What is hard is your personal belief. All you need is  determination,
            dedication, commitment, and discipline.</p>

           <p>I would like to pay my personal tribute to all those unsung heroes who work tirelessly, often in obscurity, to
          produce high quality educational material.</p>

           <h5 class="know-h5">Their efforts have been acknowledged down below.</h5>
  </div>
{% endblock content %}

{% block content1 %}
  <div class="row text-center pb-4">
    <div class="col-lg-4 col-md-2 col-12">
      <div class="thumbnail">
        <img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/freecodecamp.png" alt="">
        <div class="caption">
          <p>Great resource to <em>Learn to code for free.  <q>I initially learnt Python here. It was a 3 hour long great video for beginners. </q> </em>.</p>
          <div>
            <a href="https://www.youtube.com/channel/UC8butISFwT-Wl7EV0hUK0BQ/featured" target="_blank" class="btn btn-primary" type="button">Channel</a>
            <a href="https://www.freecodecamp.org/" target="_blank" class="btn btn-primary" type="button ">Website</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-2 col-12">
      <div class="thumbnail">
        <img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/corey.jpg" alt="">
        <div class="caption">
          <p>Corey Schafer's videos are simply great.<em><q> I learnt Python concepts like File I/O, Logging, Decorators, & Unittest and Django from his videos. </q></em></p>
          <div>
            <a href="https://www.youtube.com/user/schafer5/featured" target="_blank" class="btn btn-primary" type="button">Channel</a>
            <a href="https://coreyms.com/" target="_blank" class="btn btn-primary" type="button ">Website</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-2 col-12">
      <div class="thumbnail">
        <img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/brad.jpg" alt="">
        <div class="caption">
          <p>Brad Traversy teaches at ease.<em><q>His channel was very helpful to learn HTML5, CSS3, Bootstrap, & Flask and much more.</q></em></p>
          <div>
            <a href="https://www.youtube.com/user/TechGuyWeb/featured" target="_blank" class="btn btn-primary" type="button">Channel</a>
            <a href="https://www.traversymedia.com/" target="_blank" class="btn btn-primary" type="button ">Website</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center pt-4 pb-4">
    <div class="col-lg-4 col-md-2 col-12">
      <div class="thumbnail">
        <img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/pretty.jpg" alt="">
        <div class="caption">
          <p>Anthony Herbet is very helpful. <em><q>I was struggling to load my images in Flask. He taught me how to load using url_for(). He replied to all my emails.</q></em></p>
          <div>
            <a href="https://www.youtube.com/channel/UC-QDfvrRIDB6F0bIO4I4HkQ/featured" target="_blank" class="btn btn-primary" type="button">Channel</a>
            <a href="https://prettyprinted.com/" target="_blank" class="btn btn-primary" type="button ">Website</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-2 col-12">
      <div class="thumbnail">
        <img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/socratica.jpg" alt="">
        <div class="caption">
          <p>Socratica is like a pocket dictionary. <em><q>They have got short and crisp videos. But, you need to have basic understanding to make use of their videos.</q></em></p>
          <div>
            <a href="https://www.youtube.com/user/SocraticaStudios/featured" target="_blank" class="btn btn-primary" type="button">Channel</a>
            <a href="http://www.socratica.com/" target="_blank" class="btn btn-primary" type="button ">Website</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-2 col-12">
      <div class="thumbnail">
        <img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/sebstiaan.jpg" alt="">
        <div class="caption">
          <p>Sebastiaan Mathôt is simply genius. <em><q>If you want to know how to make use of the list comprehension in Python, learn from him.</q></em></p>
          <div>
            <a href="https://www.youtube.com/user/ceebassmusic/featured" target="_blank" class="btn btn-primary" type="button">Channel</a>
            <a href="http://www.cogsci.nl/" target="_blank" class="btn btn-primary" type="button ">Website</a>
          </div>
        </div>
      </div>
    </div>
  </div>


   <div class="row text-center pt-4 pb-4">
    <div class="col-lg-4 col-md-2 col-12">
      <div class="thumbnail">
        <img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/edureka.jpg"  alt="">
        <div class="caption">
          <p>Very good online courses on a variety of topics. <em><q>I learnt git and github from them. </q></em></p>
          <div>
            <a href="https://www.youtube.com/user/edurekaIN/featured" target="_blank" class="btn btn-primary" type="button">Channel</a>
            <a href="https://www.edureka.co/" target="_blank" class="btn btn-primary" type="button ">Website</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-2 col-12">
      <div class="thumbnail">
        <img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/thapa.jpg"  alt="">
        <div class="caption">
          <p>Thapa Technical covers a range of topics in Hindi.<em><q>I made use of one of the tutorials on Bootstrap 4</q></em></p>
          <div>
            <a href="https://www.youtube.com/channel/UCwfaAHy4zQUb2APNOGXUCCA/featured" target="_blank" class="btn btn-primary" type="button">Channel</a>
            <a href="https://www.thapatechnical.com/" target="_blank" class="btn btn-primary" type="button ">Website</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-2 col-12">
      <div class="thumbnail">
        <img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/harshit.jpg"  alt="">
        <div class="caption">
          <p>Harshit is a self employed instructor. <em><q>I really liked his video on Python Imaging Library (pillow)</q></em></p>
          <div>
            <a href="https://www.youtube.com/channel/UCrkQMtWNtuq-1j0q8c2RVeQ/featured" target="_blank" class="btn btn-primary" type="button">Channel</a>
            <a href="#" target="_blank" class="btn btn-primary disabled" type="button ">x Website</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content1 %}