{% extends 'blog/base.html'%}

{% block content %}
   <div class="container">
        <br>
        <h1>Technology Framework</h1>
        <hr>
         <h5>Use open source framework. And, most of it is free.</h5><br>
        <p>This website has been constructed with a minimum effort utilising and making smart use of free open source
            frameworks for rapid development.</p>
        <p>The open source frameworks offer low cost, flexibility, freedom, security,
           and accountability - that are unsurpassed by proprietary software solutions. Open source also has long-term
           viability and is always on the cutting-edge of technology.</p>
        <h5 class="tech-h5">The technology frameworks used towards the journey to construct the website are listed below.</h5>
        <br>
       <div class="row marketing">
        <div class="col-lg-4 col-md-2 col-12">
            <h5><a href="https://www.python.org/" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/python.jpg" height="50" alt=""></a> Python 3.7.4</h5>
            <p><small><em>Base programming language</em></small></p>
            <hr class="w-50 mx-auto pt-3">
            <h5><a href="https://www.djangoproject.com/" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/django.jpg" height="50" alt=""></a> Django 2.2.3</h5>
            <p><small><em>Web framework for Python</em></small></p>
            <hr class="w-50 mx-auto pt-3">
            <h5><a href="https://werkzeug.palletsprojects.com/en/0.15.x/" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/werkzeug.jpg" height="50" alt=""></a> Werkzeug 0.15.5</h5>
            <p><small><em>WSGI library to establish communication between Python code and http NGINX/Apache server</em></small></p>
            <hr class="w-50 mx-auto pt-3">
        </div>

        <div class="col-lg-4 col-md-2 col-12">
            <h5><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/html5.jpg" height="50" alt=""></a> HTML5</h5>
            <p><small><em>Markup Language</em></small></p>
             <hr class="w-50 mx-auto pt-3">
            <h5><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/css3.jpg" height="50" alt=""></a> CSS3</h5>
            <p><small><em>Custom Styling</em></small></p>
             <hr class="w-50 mx-auto pt-3">
            <h5><a href="https://getbootstrap.com/docs/3.3/" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/bootstrap.jpg" height="50" alt=""></a> Bootstrap 3.3.7</h5>
             <p><small><em>Framework for rapid development of responsive, and mobile first WebApps</em></small></p>
             <hr class="w-50 mx-auto pt-3">

         </div>

          <div class="col-lg-4 col-md-2 col-12">
             <h5><a href="http://jinja.pocoo.org/docs/2.10/" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/jinja2.jpg" height="50" alt=""></a> Jinja2</h5>
            <p><small><em>Web template engine for Python programming language</em></small></p>
            <hr class="w-50 mx-auto pt-3">
             <h5><a href="https://aws.amazon.com/s3/" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/aws_s3.jpg" height="50" alt=""></a> AWS S3</h5>
            <p><small><em>Amazon Simple Storage Service for object storage through a web service interface</em></small></p>
             <hr class="w-50 mx-auto pt-3">
               <h5><a href="https://git-scm.com/" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/git.jpg" height="50" alt=""></a> Git | Github <a href="https://github.com/" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/github.jpg" height="50" alt=""></a></h5>
              <p><small><em>Version Control & Remote Repository </em></small></p>
              <hr class="w-50 mx-auto pt-3">
         </div>
       </div>
    </div>


{% endblock content%}

{% block content1 %}
  <div class="row marketing">
     <div class="col-lg-4 col-md-2 col-12">
          <h5><a href="https://www.jetbrains.com/pycharm/" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/PyCharm.jpg" height="50" alt=""></a> Pycharm | Sublime Text <a href="https://www.sublimetext.com/" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/sublime.jpg" height="50" alt=""></a></h5>
          <p><small><em>Integrated Development Environment</em></small></p>
          <hr class="w-50 mx-auto pt-3">
    </div>

    <div class="col-lg-4 col-md-2 col-12">
           <h5><a href="https://www.sqlite.org/index.html" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/sqlite3.jpg" height="50" alt=""></a> SQLite3 | PostgreSQL <a href="https://www.postgresql.org/" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/postgresql.jpg" height="50" alt=""></a></h5>
          <p><small><em>Backend Database Engine/ORM</em></small></p>
          <hr class="w-50 mx-auto pt-3">
    </div>
      <div class="col-lg-4 col-md-2 col-12">
          <h5><a href="https://www.heroku.com/" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/heroku.jpg" height="50" alt=""></a> Heroku | Go Daddy <a href="https://www.godaddy.com/" target="_blank"><img class="img-align" src="https://ad-django-webblogapp.s3-ap-southeast-2.amazonaws.com/images/godaddy.jpg" height="50" alt=""></a></h5>
          <p><small><em>PaaS | DNS</em></small></p>
          <hr class="w-50 mx-auto pt-3">
    </div>
  </div>
{% endblock content1%}




