{% extends 'blog/base.html'%}
{% block content %}
    <!-- username passed by urls.py -->
    <h1 class="mb-3">What's the weather like?</h1>
    <hr>
    <p> Enter your city name to get the current weather situation in your city. I have the list of 50 cities in my database. In future, I will allow a user to add a city and setup a default city.</p>
<h6><strong>Thank you to <a href="https://openweathermap.org/" target="_blank">OpenWeather</a> for supplying a free Weather API.</strong></h6>
    <br>
   {% for city_weather in weather_data %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png">
          <div class="media-body">
            <div class="article-metadata">
                <span class="mr-2"><strong>{{ city_weather.city }}</strong></span>
               <strong>{{ city_weather.description }}</strong>
            </div>
            <h2 class="article-title">{{ city_weather.temperature }}° C</h2>
            <p class="article-content">{{ city_weather.maximum }}° C (Max)
              <span>{{ city_weather.minimum }}° C (Min)</span>
              <span>{{ city_weather.humidity }}% (Humidity)</span>
            </p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
